(
    action: {
        (24, "SEMICOLON"): "r13",
        (31, "LBRACKET"): "r7",
        (13, "WHILE"): "r17",
        (31, "RPAREN"): "r7",
        (16, "INT"): "s23",
        (15, "LBRACKET"): "s15",
        (19, "LPAREN"): "s19",
        (19, "ID"): "s7",
        (23, "LBRACKET"): "r10",
        (7, "ASSIGN"): "r15",
        (11, "ID"): "r16",
        (4, "RETURN"): "s14",
        (15, "RETURN"): "s14",
        (14, "SCINOT"): "s22",
        (1, "$"): "acc",
        (4, "LBRACKET"): "s15",
        (14, "FLOAT"): "s21",
        (9, "LPAREN"): "r5",
        (7, "EQUAL"): "r15",
        (23, "RPAREN"): "r10",
        (2, "ID"): "s7",
        (30, "RBRACKET"): "r8",
        (27, "FLOAT"): "s21",
        (31, "RETURN"): "r7",
        (27, "INT"): "s23",
        (8, "LPAREN"): "r4",
        (24, "LBRACKET"): "r13",
        (29, "LBRACKET"): "r9",
        (32, "SEMICOLON"): "r6",
        (13, "$"): "r17",
        (4, "SEMICOLON"): "s13",
        (32, "LBRACKET"): "r6",
        (21, "LBRACKET"): "r11",
        (30, "LBRACKET"): "r8",
        (29, "RBRACKET"): "r9",
        (22, "LBRACKET"): "r12",
        (30, "RETURN"): "r8",
        (17, "LBRACKET"): "r3",
        (16, "SCINOT"): "s22",
        (24, "RPAREN"): "r13",
        (9, "ID"): "r5",
        (27, "SCINOT"): "s22",
        (6, "LPAREN"): "s19",
        (17, "RETURN"): "r3",
        (0, "WHILE"): "s9",
        (16, "FLOAT"): "s21",
        (14, "INT"): "s23",
        (12, "LBRACKET"): "r2",
        (21, "RETURN"): "r11",
        (0, "IF"): "s8",
        (5, "ASSIGN"): "s16",
        (29, "SEMICOLON"): "r9",
        (24, "RETURN"): "r13",
        (23, "SEMICOLON"): "r10",
        (29, "RETURN"): "r9",
        (10, "$"): "r14",
        (12, "SEMICOLON"): "r2",
        (11, "IF"): "r16",
        (25, "RBRACKET"): "s30",
        (20, "SEMICOLON"): "s29",
        (28, "RPAREN"): "s32",
        (31, "SEMICOLON"): "r7",
        (26, "SEMICOLON"): "r1",
        (30, "SEMICOLON"): "r8",
        (23, "RETURN"): "r10",
        (11, "$"): "r16",
        (22, "RPAREN"): "r12",
        (0, "ID"): "s7",
        (2, "IF"): "s8",
        (32, "RETURN"): "r6",
        (21, "RPAREN"): "r11",
        (12, "RETURN"): "r2",
        (2, "WHILE"): "s9",
        (22, "SEMICOLON"): "r12",
        (21, "SEMICOLON"): "r11",
        (6, "ID"): "s7",
        (11, "WHILE"): "r16",
        (22, "RETURN"): "r12",
        (17, "SEMICOLON"): "r3",
        (8, "ID"): "r4",
        (18, "EQUAL"): "s27",
        (13, "ID"): "r17",
        (3, "SEMICOLON"): "s11",
        (32, "RPAREN"): "r6",
        (13, "IF"): "r17",
    },
    goto: {
        (19, "V"): 18,
        (19, "E"): 28,
        (2, "B"): 4,
        (0, "V"): 5,
        (14, "L"): 20,
        (6, "V"): 18,
        (6, "E"): 17,
        (2, "X"): 10,
        (16, "L"): 26,
        (16, "STRING"): 24,
        (0, "X"): 2,
        (0, "S"): 1,
        (0, "B"): 4,
        (0, "A"): 3,
        (4, "F"): 12,
        (2, "A"): 3,
        (15, "F"): 25,
        (14, "STRING"): 24,
        (2, "C"): 6,
        (2, "V"): 5,
        (27, "L"): 31,
        (27, "STRING"): 24,
        (0, "C"): 6,
    },
    ignore: [
        "WS",
    ],
)