(
    productions: {
        9: [
            NonTerminal("F"),
            Terminal("RETURN"),
            NonTerminal("L"),
            Terminal("SEMICOLON"),
        ],
        11: [
            NonTerminal("L"),
            Terminal("FLOAT"),
        ],
        2: [
            NonTerminal("B"),
            NonTerminal("B"),
            NonTerminal("F"),
        ],
        5: [
            NonTerminal("C"),
            Terminal("WHILE"),
        ],
        16: [
            NonTerminal("X"),
            NonTerminal("A"),
            Terminal("SEMICOLON"),
        ],
        0: [
            NonTerminal("S\'"),
            NonTerminal("S"),
        ],
        10: [
            NonTerminal("L"),
            Terminal("INT"),
        ],
        6: [
            NonTerminal("E"),
            Terminal("LPAREN"),
            NonTerminal("E"),
            Terminal("RPAREN"),
        ],
        17: [
            NonTerminal("X"),
            NonTerminal("B"),
            Terminal("SEMICOLON"),
        ],
        4: [
            NonTerminal("C"),
            Terminal("IF"),
        ],
        14: [
            NonTerminal("S"),
            NonTerminal("X"),
            NonTerminal("X"),
        ],
        15: [
            NonTerminal("V"),
            Terminal("ID"),
        ],
        3: [
            NonTerminal("B"),
            NonTerminal("C"),
            NonTerminal("E"),
        ],
        13: [
            NonTerminal("L"),
            Terminal("STRING"),
        ],
        1: [
            NonTerminal("A"),
            NonTerminal("V"),
            Terminal("ASSIGN"),
            NonTerminal("L"),
        ],
        7: [
            NonTerminal("E"),
            NonTerminal("V"),
            Terminal("EQUAL"),
            NonTerminal("L"),
        ],
        12: [
            NonTerminal("L"),
            Terminal("SCINOT"),
        ],
        8: [
            NonTerminal("F"),
            Terminal("LBRACKET"),
            NonTerminal("F"),
            Terminal("RBRACKET"),
        ],
    },
    action: {
        (7, "EQUAL"): "r15",
        (17, "LBRACKET"): "r3",
        (14, "FLOAT"): "s21",
        (0, "WHILE"): "s8",
        (15, "RETURN"): "s14",
        (30, "RBRACKET"): "r8",
        (32, "SEMICOLON"): "r7",
        (0, "ID"): "s7",
        (28, "INT"): "s22",
        (32, "RETURN"): "r7",
        (15, "LBRACKET"): "s15",
        (14, "SCINOT"): "s24",
        (17, "RETURN"): "r3",
        (12, "SEMICOLON"): "r2",
        (16, "FLOAT"): "s21",
        (3, "SEMICOLON"): "s11",
        (16, "SCINOT"): "s24",
        (24, "RPAREN"): "r12",
        (4, "LBRACKET"): "s15",
        (22, "LBRACKET"): "r10",
        (31, "SEMICOLON"): "r6",
        (14, "STRING"): "s23",
        (6, "LPAREN"): "s18",
        (2, "ID"): "s7",
        (28, "SCINOT"): "s24",
        (20, "SEMICOLON"): "s29",
        (21, "SEMICOLON"): "r11",
        (29, "SEMICOLON"): "r9",
        (12, "RETURN"): "r2",
        (31, "LBRACKET"): "r6",
        (31, "RETURN"): "r6",
        (2, "IF"): "s9",
        (21, "RETURN"): "r11",
        (22, "RPAREN"): "r10",
        (11, "ID"): "r16",
        (11, "$"): "r16",
        (1, "$"): "acc",
        (25, "RBRACKET"): "s30",
        (16, "STRING"): "s23",
        (8, "ID"): "r5",
        (2, "WHILE"): "s8",
        (7, "ASSIGN"): "r15",
        (0, "IF"): "s9",
        (29, "RBRACKET"): "r9",
        (21, "RPAREN"): "r11",
        (17, "SEMICOLON"): "r3",
        (23, "SEMICOLON"): "r13",
        (30, "RETURN"): "r8",
        (29, "RETURN"): "r9",
        (13, "IF"): "r17",
        (32, "LBRACKET"): "r7",
        (23, "RPAREN"): "r13",
        (30, "SEMICOLON"): "r8",
        (5, "ASSIGN"): "s16",
        (13, "ID"): "r17",
        (8, "LPAREN"): "r5",
        (13, "WHILE"): "r17",
        (14, "INT"): "s22",
        (28, "FLOAT"): "s21",
        (19, "EQUAL"): "s28",
        (9, "LPAREN"): "r4",
        (24, "RETURN"): "r12",
        (12, "LBRACKET"): "r2",
        (29, "LBRACKET"): "r9",
        (18, "ID"): "s7",
        (26, "SEMICOLON"): "r1",
        (22, "SEMICOLON"): "r10",
        (27, "RPAREN"): "s31",
        (30, "LBRACKET"): "r8",
        (24, "LBRACKET"): "r12",
        (4, "RETURN"): "s14",
        (13, "$"): "r17",
        (28, "STRING"): "s23",
        (21, "LBRACKET"): "r11",
        (4, "SEMICOLON"): "s13",
        (11, "WHILE"): "r16",
        (32, "RPAREN"): "r7",
        (16, "INT"): "s22",
        (31, "RPAREN"): "r6",
        (9, "ID"): "r4",
        (6, "ID"): "s7",
        (22, "RETURN"): "r10",
        (23, "RETURN"): "r13",
        (11, "IF"): "r16",
        (23, "LBRACKET"): "r13",
        (18, "LPAREN"): "s18",
        (10, "$"): "r14",
        (24, "SEMICOLON"): "r12",
    },
    goto: {
        (0, "X"): 2,
        (15, "F"): 25,
        (0, "C"): 6,
        (18, "V"): 19,
        (2, "B"): 4,
        (16, "L"): 26,
        (2, "A"): 3,
        (6, "E"): 17,
        (2, "X"): 10,
        (18, "E"): 27,
        (14, "L"): 20,
        (0, "S"): 1,
        (6, "V"): 19,
        (0, "B"): 4,
        (0, "V"): 5,
        (28, "L"): 32,
        (2, "V"): 5,
        (0, "A"): 3,
        (2, "C"): 6,
        (4, "F"): 12,
    },
    ignore: [
        "WS",
    ],
)